gitlab-shell-client.iml
.idea/
.gradle
gradle/
gradlew
gradlew.bat
build/
*out/
gradle.properties
.DS_Store

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Ignore Gradle GUI config
gradle-app.setting
