gitlab-shell-client.iml
.idea/
.gradle
build/
gradle.properties

*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Ignore Gradle GUI config
gradle-app.setting
